* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

.mainContainer {
    text-align: center;
    margin-top: 20%;
        p {
            font-size: 6em;
            opacity: .8;
        }
        button {
            border-radius: 5%;
            border: 1px solid crimson;
            color: white;
            background: crimson;
            margin: 2%;
            padding: 3%;
            font-size: 30px;
        }
}

